* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.active {
    color: #fff;
}
.active-icon {
    color: #b57295 !important;
}
.sidebar-items {
    color: gray;
    font-size: large;
}
.sidebar-items:not(:last-child) {
    margin-bottom: 1.5em;
}
.sidebar-items:hover p {
    color: #fff;
}
.sidebar-items:hover svg {
    color: #b57295;
}
